<section id="search-inns">
    <h2>Resultados da busca por: <%= @query %></h2>
  </div>

  <%= @inns.count %> <%= Inn.model_name.human(count: @inns.count).downcase %> <%= t(:found, count: @inns.count) %>

  <% @inns.each do |inn| %>
    <h3><%= link_to inn.trade_name, inn_path(inn) %></h3>
    <p><%= inn.full_address %></p>
  <% end %>
</section>