<section id="inn">
  <%= render 'inn', inn: @inn %>

  <% if current_owner == @inn.owner %>
    <%= link_to "Editar", edit_inn_path(@inn) %>
    <%= link_to "Cadastrar Quarto", new_inn_room_path(@inn) %>
  <% end %>
  
  <section id="inn-rooms">
    <h2>Quartos</h2>

    <% if @rooms.present? %>
      <% @rooms.each do |room| %>
        <p><%= link_to room.name, inn_room_path(@inn, room) %></p>
        <p><%= Room.human_attribute_name(:description) %>: <%= room.description %></p>
        <p><%= Room.human_attribute_name(:daily_rate) %>: <%= number_to_currency(room.daily_rate) %></p>
        <% if @inn.owner == current_owner %>
          <p><%= Room.human_attribute_name(:is_available) %>: <%= room.is_available? ? "Sim" : "Não" %></p>
        <% end %>
      <% end %>
    <% else %>
      <p>Não há quartos cadastrados</p>
    <% end %>
  </section>

</section>