<section id="show-inn" class="row">
  <%= render 'inn', inn: @inn %>

  <% if current_owner == @inn.owner %>
    <ul>
      <li class="list-group-item"><%= Inn.human_attribute_name(:active) %>: <%= t(@inn.active?) %></li>
      <li class="list-group-item"><%= Inn.human_attribute_name(:cnpj) %>: <%= @inn.cnpj %></li>
      <li class="list-group-item"><%= Inn.human_attribute_name(:corporate_name) %>: <%= @inn.corporate_name %></li>
    </ul>
    <div>
      <%= link_to "Cadastrar Quarto", new_inn_room_path(@inn), class: "btn btn-primary btn-sm" %>
      <%= link_to "Editar", edit_inn_path(@inn), class: "btn btn-secondary btn-sm" %>
    </div>
  <% end %>
</section>
<% if @reviews.any? %>
<hr>
  <section id="reviews">
    <h5>Nota média: <%= @average_rating %></h5>
    <h2><%= link_to "Avaliações", reservation_rates_path(@inn.reservations), class: "btn btn-primary btn-sm" %></h2>
    <ul class="container row">
     <% @reviews.each do |rate| %>
        <li class="list-group-item col-sm-4">
          <div>
          Nota: <%= rate.rating %><br>
          Comentário: <%= rate.review %><br>
            <% if rate.response.present? %>
              Resposta: <%= rate.response %>
            <% end %>
          </div>
        </li>
      <% end %>
    </ul>
  </section>
<% end %>
<hr>
<%= render 'rooms/index', rooms: @rooms %>