<section id="show-inn" class="row">
  <%= render 'inn', inn: @inn %>

  <% if current_owner == @inn.owner %>
    <ul>
      <li class="list-group-item"><%= Inn.human_attribute_name(:active) %>: <%= t(@inn.active?) %></li>
      <li class="list-group-item"><%= Inn.human_attribute_name(:cnpj) %>: <%= @inn.cnpj %></li>
      <li class="list-group-item"><%= Inn.human_attribute_name(:corporate_name) %>: <%= @inn.corporate_name %></li>
    </ul>
    <div>
      <%= link_to "Cadastrar Quarto", new_inn_room_path(@inn), class: "btn btn-primary btn-sm" %>
      <%= link_to "Editar", edit_inn_path(@inn), class: "btn btn-secondary btn-sm" %>
    </div>
  <% end %>
</section>
<hr>
<%= render 'rooms/index', rooms: @rooms %>