<h2>Confirmar Reserva</h2>

<p>Confirme os dados da sua reserva:</p>

<p>Quarto: <%= @room.name %></p>
<p>Data de entrada: <%= @reservation.checkin.strftime("%d/%m/%Y") %></p>
<p>Check-in: <%= @room.inn.checkin_time.strftime("%H:%M") %></p>
<p>Data de saída: <%= @reservation.checkout.strftime("%d/%m/%Y") %></p>
<p>Check-out: <%= @room.inn.checkout_time.strftime("%H:%M") %></p>
<p>Número de hóspedes: <%= @reservation.number_of_guests %></p>
<p>Valor total: <%= number_to_currency(@reservation.total_value) %></p>

<%= button_to "Confirmar Reserva", room_reservations_path(@room, @reservation), method: :post, class: "btn btn-primary" %>