<section class="new-reservation row">
  <div class="col-sm-6">
    <h3>Verificar disponibilidade</h3>

    <% if @reservation.errors.any? %>
      <div class="alert alert-danger">
      <% @reservation.errors.full_messages.each do |message| %>
        <p><%= message %></p>
        <% end %>
      </div>
    <% end %>
  
    <%= form_with model: @reservation, url: check_room_reservations_path(@room), method: :get do |f| %> 
      <div class="col-8 mb-3">
        <%= f.label :checkin %>
        <%= f.date_field :checkin, class: "form-control" %>
      </div>
      <div class="col-8 mb-3">
        <%= f.label :checkout %>
        <%= f.date_field :checkout, class: "form-control" %>
      </div>
      <div class="col-8 mb-3">
        <%= f.label :number_of_guests %>
        <%= f.number_field :number_of_guests, class: "form-control" %>
      </div>
      <%= f.submit "Verificar disponibilidade", class: "btn btn-primary btn-sm" %>
    <% end %>
  </div>

  <div class="col-sm-6">
    <%= render '/rooms/room', room: @room %>
  </div>
</div>
