<h2>Reserva <%= @reservation.code %></h2>

<div>
  <% if @reservation.active? %>
    <p><%= Reservation.human_attribute_name(:checkin_at) %>: <%= @reservation.checkin_at.strftime("%d/%m/%Y %H:%M") %></p>
  <% end %>
  <p><%= Room.model_name.human %>: <%= @reservation.room.name %></p>
  <p><%= Reservation.human_attribute_name(:checkin) %>: <%= @reservation.checkin.strftime("%d/%m/%Y") %></p>
  <p><%= Reservation.human_attribute_name(:checkout) %>: <%= @reservation.checkout.strftime("%d/%m/%Y") %></p>
  <p>Total: <%= number_to_currency(@reservation.total_value) %></p>
  <p><%= Reservation.human_attribute_name(:number_of_guests) %>: <%= @reservation.number_of_guests %></p>
  <p><%= Reservation.human_attribute_name(:status) %>: <%= t @reservation.status %></p>
  <% if @reservation.pending? %>
    <% if @reservation.checkin.to_date >= Date.today %>
      <%= button_to "Check-in", checkin_path(@reservation), method: :post, class: "btn btn-primary" %>
      <% end %>
    <%= button_to "Cancelar reserva", cancel_reservation_path(@reservation), method: :post, class: "btn btn-danger" %>
  <% elsif @reservation.active? %>
    <%= button_to "Check-out", checkout_path(@reservation), method: :post, class: "btn btn-primary" %>
  <% end %>
</div>