<h2>Reservas</h2>

<% if @reservations.any? %>
  <% @reservations.each do |reservation| %>
    <div>
      <h4>Código da reserva: <%= reservation.code %></h4>
      <p><%= reservation.room.inn.trade_name %></p>
      <p><%= Room.model_name.human %>: <%= reservation.room.name %></p>
      <p><%= Reservation.human_attribute_name(:checkin) %>: <%= reservation.checkin.strftime("%d/%m/%Y") %></p>
      <p><%= Reservation.human_attribute_name(:checkout) %>: <%= reservation.checkout.strftime("%d/%m/%Y") %></p>
      <p>Total: <%= number_to_currency(reservation.total_value) %></p>
      <p><%= Reservation.human_attribute_name(:number_of_guests) %>: <%= reservation.number_of_guests %></p>
    <% end %>
<% else %>
  <p>Você ainda não possui reservas</p>
<% end %>