<section class="user-reservations row">
  <h2><%= Reservation.model_name.human %> <%= @reservation.code %></h2>
  <hr>
  <div class="col-md-6">
    <%= render "reservation", reservation: @reservation %>
  </div>
  <div class="col-md-6">
    <% if @reservation.finished? %>
      <h3>Avaliação</h3>
      <% if @reservation.rate.present? %>
        <%= render "/rates/show", rate: @reservation.rate %>
      <% else %>
        <%= render "/rates/form", rate: @rate %>
      <% end %>
    <% end %>
  </div>
</section>