<h2><%= room.name %></h2>

<p><%= Room.human_attribute_name(:description) %>: <%= room.description %></p>
<p><%= Room.human_attribute_name(:dimension) %>: <%= room.dimension %> m²</p>
<p><%= Room.human_attribute_name(:max_occupancy) %>: <%= room.max_occupancy %> pessoas</p>
<p><%= Room.human_attribute_name(:daily_rate) %>: <%= number_to_currency(@current_daily_rate) %></p>
<p><%= Room.human_attribute_name(:has_bathroom) %>: <%= t(room.has_bathroom?) %></p>
<p><%= Room.human_attribute_name(:has_balcony) %>: <%= t(room.has_balcony?) %></p>
<p><%= Room.human_attribute_name(:has_air_conditioning) %>: <%= t(room.has_air_conditioning?) %></p>
<p><%= Room.human_attribute_name(:has_tv) %>: <%= t(room.has_tv?) %></p>
<p><%= Room.human_attribute_name(:has_closet) %>: <%= t(room.has_closet?) %></p>
<p><%= Room.human_attribute_name(:has_safe) %>: <%= t(room.has_safe?) %></p>
<p><%= Room.human_attribute_name(:is_accessible) %>: <%= t(room.is_accessible?) %></p>
<p><%= Room.human_attribute_name(:is_available) %>: <%= t(room.is_available?) %></p>