<!DOCTYPE html>
<html>
  <head>
    <title>PousadariaApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application" %>
  </head>

  <body>
  <header>
    <nav>
      <ul>
        <li><%= link_to "Pousadaria", root_path %></li>
        <% if owner_signed_in? %> 
        <li><%= link_to "Cadastrar pousada", new_inn_path %></li>
        <li><%= button_to "Sair", destroy_owner_session_path, method: :delete %></li>
        <% else %>
          <li><%= link_to "Entrar como dono de pousada", new_owner_session_path %></li>
          <% end %>
      </ul>
    </nav>
  </header>
  <main>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= I18n.t "hello" %>
    <%= yield %>
  </main>
  </body>
</html>
